<nav class="navigation">
  <ul class="navigation__list">
    <li class="navigation__item">
      <a href="#pdv" class="navigation__link">
        <i class="navigation__icon icon-ecommerce-bag"></i>
      </a>
    </li>
    <li class="navigation__item">
      <a href="#other1" class="navigation__link">
        <i class="navigation__icon icon-ecommerce-graph-increase"></i>
      </a>
    </li>
    <li class="navigation__item">
      <a href="#other2" class="navigation__link">
        <i class="navigation__icon icon-ecommerce-wallet"></i>
      </a>
    </li>
    <li class="navigation__item">
      <a href="#estoque" class="navigation__link">
        <i class="navigation__icon icon-ecommerce-cart"></i>
      </a>
    </li>
  </ul>
</nav>