<%- include('../includes/head.ejs') %>

</head>

<body>
  <div class="grid">
    <%- include('../includes/navigation.ejs') %>
    <%- include('../sections/pdv.ejs') %>
    <%- include('../sections/estoque.ejs') %>
  </div>

  <script src="js/pdv_functions.js"></script>


</body>

</html>