// COLORS

$color-primary: #bd4e1a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #f8a50b;
$color-secondary-dark: #f87e0b;

$color-tertiary-light: #373bfd;
$color-tertiary-dark: #a404b9;

$color-black: #000;
$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-white: #fff;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;